{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Survey app</title>
    <meta name="description" content="Piwi se la come">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'stock_polls/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto|Fira+Sans|Abril+Fatface|Roboto+Slab|Lora:700" rel="stylesheet">
    
    <link rel=stylesheet type="text/css" href="{% static 'stock_polls/site_style.css' %}"/>




    {# Load tag library, CSS and JS from bootstrap #}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block extra_head %}
    {% endblock extra_head %}

</head>
<body>

<div class='outer-wrapper'>

    <header>
    {% block header %}
    {%  endblock header %}    
    </header>
    
    <nav>
    {% block sidenav %}
        {% if user %}
            <div class="sidenav-outer">
                <div class="sidenav-item">
                    <a href="{{ user.get_absolute_url }}">Profile</a>
                </div>

                <div class="sidenav-item">
                    <a href="{% url 'polls:survey_list' %}">Create Survey</a>
                </div>

                <div class="sidenav-item">
                    <a href="{% url 'polls:choose_survey' %}">Respond Survey</a>
                </div>

            </div>
        {% endif %}

    {% endblock sidenav %}
    </nav>

    <main>
    {% block content %}
    {% endblock content %}
    </main>
    
    <aside>
    {% block aside %}
    {% endblock aside %}
    </aside>
    
    <footer>
    {% block footer %}
    {% endblock footer %}
    </footer>
    
</div>

{% block javascript %}
{% endblock javascript %}

</body>

</html>