{% extends 'stock_polls/base.html' %}
{% load static %}

{% block content %}

<div class="'inner-wrapper">

    <table class="table">
        <thead>
            <tr>
                <th>Survey name</th>
                <th>Date created</th>
                <th>Date it ends</th>
                <th>Number of stocks</th>
                <th>Number of respondents</th>
                <th>Creator</th>
            </tr>
        </thead>
        <tbody>
            {% for survey in surveys %}
                <tr>
                    <td><a href="{% url 'polls:respond_survey' survey.id %}">{{ survey.name }}</a></td>
                    <td>{{ survey.start_date }}</td>
                    <td>{{ survey.end_date }}</td>
                    <td>{{ survey.n_stocks }}</td>
                    <td>{{ survey.n_respondents }}</td>
                    <td>{{ survey.user.email }}</td>
                </tr>

            {% endfor %}


        </tbody>
    </table>

</div>

{% endblock content %}