{% extends "stock_polls/base.html" %}
{% load static %}

{% block extra_head %}

{% endblock extra_head %}


{% block content %}


<div class="inner-wrapper">
    <button class="btn btn-success" id="js-create" data-url="{% url model_create_url %}"> <span class="glyphicon glyphicon-plus" style="margin-right:5px;"></span>New Product/Service</button>
    <table class='table' id='object-table'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% include 'polls/includes/product/partial_table.html' %}
        </tbody>
    </table>


    <div class="modal fade" id="modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        </div>
      </div>
    </div>

</div>

{% endblock content %}


{% block javascript %}
<script src="{% static 'polls/polls.js' %}"></script>



{% endblock javascript %}